@charset "utf-8";
/* CSS Document */
body{ font-family:"宋体"; font-size:12px; color:#000; margin:0px; padding:0px; background: url(../images/index_bg.2.jpg) repeat-x top;}
div{ margin:0px; padding:0px;}
img{ margin:0px; padding:0px; border:0px;}
ul{ margin:0px; padding:0px; list-style-type:none;}
li{ margin:0px; padding:0px; list-style-type:none;}
.clear{clear:both;}
.left{ float:left;}

.div_main{width:995px;
	height:auto;
	margin:auto;
	margin-top:0px;
	padding-top:192px;
	padding-bottom:50px;
	background:url(../images/index03_bg.jpg) 0px 0px no-repeat;
}
#index_tatle{font-size:16px; font-family:Arial, Helvetica, sans-serif; text-align:center; font-weight:bold; height:30px; line-height:30px;}
.div_text{width:503px;
	height:259px;
	margin-left:180px;
	line-height:22px;
	padding-top:10px;
}

.div_text div{font-size:13px;
line-height:22px;
}

.div_button{text-align:center;
	padding-left:160px;
}

.div_button img{margin-right:6px; margin-left:6px;}

.div_shadow{
	width:995px;
	height:57px;
	margin:0 auto;
	text-align:center;
	margin-top:-2px;
	_margin-top:-4px;
}
.div_shadow img{ margin-right:2px;}

.div_foot{width:875px;
	height:39px;
	background:#caedff url(../images/index_footleft.jpg) left no-repeat;
	margin-top:20px;
	margin-left:47px;
	_margin-left:24px;
	line-height:39px;
	text-align:center;
	padding-left:13px;
	float:left;
}

.div_footright{height:39px;
	width:13px;
	float:left;
	margin-top:20px;
	background:url(../images/index_footright.jpg) no-repeat;
}

.text_01{ width:155px; float:left; }
.text_02{ width:155px; float:left; padding-left:18px;}
.text_03{ width:155px; float:right; }

.text_yangshi{font-size:12px; line-height:22px; font-family:"微软雅黑";}